
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Staatliches', sans-serif;
}

body {
  margin: 0;
  padding: 20px 5%;
  font-family: 'Staatliches', sans-serif;
  scroll-behavior: smooth;
}

/* About Box */
.top-container {
  background-color: #20232D;
  border-radius: 30px;
  height: 93vh;
  position: relative;
}

/* Header Styling */
.header {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #20232D;
  border-radius: 20px;
  padding: 25px 5%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* When sticky */
.header.sticky {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  background-color: #20232D;
  border-radius: 20px;
  width: 90%;
  max-width: 1200px;
  z-index: 1000;
}

.logo {
  font-size: 38px;
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 700;
  flex: 1;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  font-weight: 500;
  animation: slideTop .5s ease forwards;
}

.navbar a:hover,
.navbar a.active {
  color: #01ECFF;
}

.about-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 50px 5% 0;
  gap: 200px;
  color: #ffffff;
}

.about-content h1{
  font-size: 105px;
  line-height: 1;
  opacity: 0;
  animation: slideRight 1s ease forwards;
  animation-delay: 1s;
}

.about-content h2{
  font-size: 52px;
  opacity: 0;
  animation: slideBottom 1s ease forwards;
  animation-delay: 1s;
}

.about-content h2:nth-of-type(2){
  margin-bottom: 30px;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.7s;
}

.about-content p{
  margin: 10px 0 20px;
}

.about-content .download-social{
  display: flex;
  align-items: center;
}

.btn-download-resume{
  display: inline-block;
  padding: 10px 30px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 40px;
  box-shadow: 0 0 10px #ffffff;
  color: #333;
  text-decoration: none;
  font-weight: 500;
  transition: 0.5s;
}

.btn-download-resume:hover{
  background: none;
  color: #ffffff;
  box-shadow: none;
}

.about-content .social-icons{
  margin-left: 20px;
}

.about-content .social-icons a{
  display: inline-flex;
  padding: 8px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  margin: 0 8px;
  transition: .5s;
}

.about-content .social-icons a:hover{
  background: #ffffff;
  color: #20232D;
  box-shadow: 0 0 10px #ffffff;
}

/* About Image */
.about-img {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.about-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 100%;
  max-height: 100%;
  position: relative;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.about-content h2 span {
  color: #01ECFF;
}

.profile-photo {
  width: 600px;
  height: 600px;
  object-fit: cover;
  border-radius: 50%;
  opacity: 0;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1.6s;
}

@keyframes slideTop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
  
}

@keyframes slideBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
  
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: svcale(1);
    opacity: 1;
  }
  
}