/* App.css - Global and layout styles only */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Staatliches', sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 20px 3%;
  font-family: 'Staatliches', sans-serif;
  scroll-behavior: smooth;
}

.header {
  position: fixed;
  top: 5px; 
  left: 50%;
  transform: translateX(-50%);
  background-color: #20232D;
  border-radius: 20px;
  padding: 10px 3%;
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 225, 255, 0.3);
  z-index: 1000;
}

.logo {
  font-size: 38px;
  color: #ffffff;
  letter-spacing: 2px;
  text-decoration: none;
  font-weight: 700;
  flex: 1;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.Logo-img {
  width: 60px;
  height: auto;
}

.navbar a {
  display: inline-block;
  margin-left: 30px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
  border-bottom: 2px solid transparent;
  transition: 0.5s;
  font-weight: 500;
  animation: slideTop .5s ease forwards;
}

.navbar a:hover {
  color: #01ECFF;
}

section {
  scroll-margin-top: 100px; 
}

.skills-section-outer {
  scroll-margin-top: 200px; 
  max-height: 1250px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #20232D;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  letter-spacing: 0.05em;
  z-index: 9999;
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease, transform 1s ease;
}

.loading-overlay.fade-out {
  opacity: 0;
  transform: scale(1.20);
  pointer-events: none;
}

.loading-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  font-size: 3rem;
}

.app {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.app.fade-in {
  opacity: 1;
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top: 4px solid #61dafb;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
  margin-bottom: 20px;
}



@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes slideTop {
  0% { transform: translateY(100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes slideRight {
  0% { transform: translateX(-100px); opacity: 0; }
  100% { transform: translateX(0); opacity: 1; }
}

@keyframes slideBottom {
  0% { transform: translateY(-100px); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

@keyframes zoomIn {
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
